# General
include LICENSE.txt
include README.md

# CI
exclude .travis.yml

# Tests
include .coveragerc
include .pydocstylerc
include .pylintrc
include behave.ini
include pytest.ini
include tox.ini
recursive-include features *.feature
recursive-include features *.py
recursive-include tests *.py

# Docs
include *.yml
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

# Deprecated
exclude benchmarks
exclude examples
recursive-exclude benchmarks *.py
recursive-exclude examples *.py
