include .coveragerc
include .pydocstylerc
include .pylintrc
include LICENSE.txt
include README.md
include behave.ini
include pytest.ini
include tox.ini

recursive-include features *.feature
recursive-include features *.py
recursive-include tests *.py

exclude .travis.yml
exclude benchmarks
exclude examples

recursive-exclude benchmarks *.py
recursive-exclude examples *.py
